<nav  class="navbar navbar-custom navbar-expand-md navigation-clean-button" id="loggedIn">
        <a routerLink="/home" class="navbar-brand" style="padding-left: 0;"><img src="../../../assets/img/logo.png" id="logoHome" alt="Tazas" /></a>
        <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="dropdown nav-item">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle nav-link">Procesos</a>
                    <div class="dropdown-menu">
                        <a routerLink="/taza" class="dropdown-item">Añadir Taza</a>
                        <div class="dropdown-divider"></div>
                        <a routerLink="/ingreso" class="dropdown-item">Ingresos</a>
                        <a routerLink="/egreso" class="dropdown-item">Egresos</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle nav-link">Pedidos</a>
                    <div class="dropdown-menu">
                        <a routerLink="/pedidos" class="dropdown-item">Ver Pedidos</a>
                    </div>
                </li>
            </ul>
             <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                <li class="dropdown nav-item">
                    <a data-toggle="dropdown" href="#" class="dropdown-toggle nav-link animated">Bienvenido <label for="" id="labelNombre">{{nombre}}</label> </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" (click)="logOut()" class="dropdown-item" >Cerrar Sesion</a>
                    </div>
                </li>
            </ul>
        </div>
</nav>