<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <img src="assets/img/loginLogo.png" alt="" id="logoLogin">
        </div>
        <div class="col-12">
            <h1 class="h3 mb-3" id="cartelLogin" style="color: black;">App Plantel®</h1>
        </div>
        <div class="col-12">
            <form class="form-signin" (ngSubmit)="onSubmit()" #loginForm="ngForm">
                <label for="">Correo Electrónico</label>
                <input type="text" id="inputUsername" name="inputUsername" [(ngModel)]="loginInfo.email"
                    class="form-control" placeholder="" autocomplete="username" required autofocus>

                <label for="">Contraseña</label>
                <input type="password" id="inputPassword" name="inputPassword" [(ngModel)]="loginInfo.password"
                    class="form-control" placeholder="" autocomplete="current-password" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit"
                    [disabled]="!loginForm.form.valid">Iniciar
                    sesión</button>

                <div *ngIf="esVisible" class="alert alert-danger form-control" style="margin-top: 10px;">
                    Credenciales Incorrectas
                </div> 
                
                <!-- <p>Si no tienes una cuenta, <a routerLink="/register" data-dismiss="modal">crea una nueva</a></p> -->
                <p style="font-size: 13px; margin-top: 10px; font-weight: 500;" >¿Olvidaste tu contraseña?<a href="/recover" data-dismiss="modal"> Recuperar mi
                        contraseña</a></p>
            </form>
        </div>
    </div>
</div>